Repository 2lambda123/nrwl-nx, changes with the owners that CODEOWNERS names for each.
All owners: @FrozenPandaz, @vsavkin, @AgentEnder, @jaysoo, @JamesHenry, @StalkAltan, @rarmatei, @isaacplmann, @juristr, @bcabanes, @philipjfulcher, @Coly010, @leosvelperez, @ndcunningham, @mandarini, @xiongemi, @nartc, @barbados-clemens, @meeroslav, @Cammisuli

feat(core): Use static_vcruntime to avoid msvcrt dependency
  Cargo.lock
  packages/nx/Cargo.toml
  packages/nx/build.rs
Owners: @FrozenPandaz, @vsavkin, @AgentEnder

feat(core): expand meaning of plugins array to allow installing non-runtime plugins and interopt with installations property
  docs/generated/devkit/ExpandedPluginConfiguration.md
  packages/nx/src/command-line/init/implementation/dot-nx/add-nx-scripts.spec.ts
  packages/nx/src/command-line/init/implementation/dot-nx/add-nx-scripts.ts
  packages/nx/src/command-line/init/implementation/dot-nx/nxw.ts
  packages/nx/src/config/nx-json.ts
Owners: @FrozenPandaz, @AgentEnder, @vsavkin

feat(core): add support for plugin version in nx add, nx migrate, etc
  docs/shared/recipes/installation/install-non-javascript.md
  e2e/nx/src/misc.test.ts
  packages/nx/src/command-line/add/add.ts
  packages/nx/src/command-line/init/implementation/dot-nx/add-nx-scripts.spec.ts
  packages/nx/src/command-line/init/implementation/dot-nx/add-nx-scripts.ts
  packages/nx/src/command-line/init/implementation/dot-nx/nxw.ts
  packages/nx/src/command-line/migrate/migrate.ts
  packages/nx/src/project-graph/plugins/isolation/messaging.ts
  packages/nx/src/project-graph/plugins/isolation/plugin-pool.ts
  packages/nx/src/project-graph/plugins/isolation/plugin-worker.ts
  packages/nx/src/project-graph/plugins/utils.ts
  packages/nx/src/utils/nx-installation.spec.ts
  packages/nx/src/utils/nx-installation.ts
Owners: @bcabanes, @isaacplmann, @juristr, @FrozenPandaz, @AgentEnder, @vsavkin

fix(angular): tests on windows
  packages/angular/src/generators/component-test/component-test.spec.ts
  packages/angular/src/generators/utils/storybook-ast/component-info.ts
  packages/nx/src/generators/tree.ts
Owners: @Coly010, @leosvelperez, @vsavkin, @FrozenPandaz, @AgentEnder

fix(core): fix the failed test because sorting of the tree return
  packages/nx/src/generators/tree.spec.ts
  packages/workspace/src/generators/preset/__snapshots__/preset.spec.ts.snap
Owners: @vsavkin, @FrozenPandaz, @AgentEnder

fix(nx-plugin): assert test property is defined on webpack rule in nx-react-webpack-plugin
  packages/react/plugins/nx-react-webpack-plugin/lib/apply-react-config.ts
Owners: @jaysoo, @ndcunningham, @mandarini, @xiongemi

Update preserving-git-histories.md
  docs/shared/migration/preserving-git-histories.md
Owners: @bcabanes, @isaacplmann, @juristr

RN Fixed typescript lib schema
  packages/react-native/src/generators/library/files/lib/tsconfig.lib.json.template
Owners: @xiongemi, @jaysoo

fix (react-native): typescript lib schema
  packages/react-native/src/generators/library/files/lib/tsconfig.lib.json.template
Owners: @xiongemi, @jaysoo

feat(storybook): use createNodesV2 for init and convert-to-inferred generators
  packages/storybook/src/generators/convert-to-inferred/convert-to-inferred.ts
  packages/storybook/src/generators/init/init.ts
Owners: @mandarini, @jaysoo, @Coly010

feat(storybook): add createNodesV2 for plugin
  packages/storybook/plugin.ts
  packages/storybook/src/plugins/plugin.spec.ts
  packages/storybook/src/plugins/plugin.ts
Owners: @mandarini, @jaysoo, @Coly010

feat(storybook): add createNodesV2 for plugin
  packages/storybook/plugin.ts
  packages/storybook/src/plugins/plugin.spec.ts
  packages/storybook/src/plugins/plugin.ts
Owners: @mandarini, @jaysoo, @Coly010

chore(react): fix formatting for the style prompt
  packages/react/src/generators/application/schema.json
Owners: @jaysoo, @ndcunningham, @mandarini, @xiongemi

fix(core): fix package manager determination logic
  packages/create-nx-workspace/src/utils/package-manager.ts
Owners: @FrozenPandaz, @vsavkin, @AgentEnder, @jaysoo, @JamesHenry

cleanup(repo): remove unused deprecated dependency `url-loader`
  package.json
  packages/next/.eslintrc.json
  packages/react/.eslintrc.json
  packages/remix/.eslintrc.json
  pnpm-lock.yaml
Owners: @FrozenPandaz, @vsavkin, @ndcunningham, @jaysoo, @xiongemi, @mandarini, @AgentEnder, @JamesHenry

cleanup(repo): remove unused dependency `send`
  package.json
  pnpm-lock.yaml
Owners: @FrozenPandaz, @vsavkin

cleanup(repo): remove unused dependency `@widgetbot/react-embed`
  package.json
  pnpm-lock.yaml
Owners: @FrozenPandaz, @vsavkin

cleanup(repo): remove unused dependency `weak-napi`
  package.json
  pnpm-lock.yaml
Owners: @FrozenPandaz, @vsavkin

cleanup(repo): remove unused dependency `history`
  package.json
  pnpm-lock.yaml
Owners: @FrozenPandaz, @vsavkin

cleanup(repo): remove unused deprecated dependency `raw-loader`
  package.json
  pnpm-lock.yaml
Owners: @FrozenPandaz, @vsavkin

chore(repo): remove unused dependency `webpack-sources`
  package.json
  pnpm-lock.yaml
Owners: @FrozenPandaz, @vsavkin

cleanup(repo): remove unused dependency `unzipper`
  package.json
  pnpm-lock.yaml
Owners: @FrozenPandaz, @vsavkin

cleanup(repo): remove unused dependency `source-map`
  package.json
  pnpm-lock.yaml
Owners: @FrozenPandaz, @vsavkin

fix(rspack): removed webpack-sources import
  packages/rspack/src/plugins/generate-package-json-plugin.ts
Owners: @FrozenPandaz, @vsavkin, @AgentEnder, @jaysoo, @JamesHenry

feat(core): support rollup.config.ts
  packages/rollup/package.json
  packages/rollup/src/plugins/plugin.ts
Owners: @jaysoo, @mandarini, @ndcunningham

feat(core): support rollup.config.ts
  packages/rollup/.eslintrc.json
Owners: @jaysoo, @mandarini, @ndcunningham

feat(core): support rollup.config.ts
  packages/rollup/src/plugins/__snapshots__/plugin.spec.ts.snap
Owners: @jaysoo, @mandarini, @ndcunningham

feat(core): support rollup.config.ts
  packages/rollup/src/plugins/plugin.ts
Owners: @jaysoo, @mandarini, @ndcunningham

feat(core): support rollup.config.ts
  packages/rollup/src/plugins/__snapshots__/plugin.spec.ts.snap
Owners: @jaysoo, @mandarini, @ndcunningham

fix(core): allow for non-js libs to be moved without errors or the creation of any unneeded tsconfig files
  packages/workspace/src/generators/move/lib/update-imports.ts
  packages/workspace/src/utilities/ts-config.ts
Owners: @FrozenPandaz, @AgentEnder, @vsavkin

fix(testing): fix passing extra args to Jest cli
  packages/jest/src/executors/jest/jest.impl.spec.ts
  packages/jest/src/executors/jest/jest.impl.ts
Owners: @barbados-clemens, @FrozenPandaz

CODEOWNERS:

# Any file not covered by a rule below, will default to Jason + Victor and a few select others.
* @FrozenPandaz @vsavkin
/packages/**/* @FrozenPandaz @vsavkin @AgentEnder @jaysoo @JamesHenry
/e2e/**/* @FrozenPandaz @vsavkin @AgentEnder @jaysoo @JamesHenry
/scripts/**/* @FrozenPandaz @vsavkin @AgentEnder @jaysoo @JamesHenry
/tools/**/* @FrozenPandaz @vsavkin @AgentEnder @jaysoo @JamesHenry

# Docs Site + Graph
/docs/nx-cloud @StalkAltan @rarmatei @isaacplmann @juristr @bcabanes
/docs @bcabanes @isaacplmann @juristr
/graph/** @philipjfulcher @FrozenPandaz @bcabanes
/images/shared @bcabanes @isaacplmann @juristr
/nx-dev/** @bcabanes @isaacplmann
/typedoc-theme @bcabanes @isaacplmann

# Plugin Verticals

## Angular
/docs/generated/packages/angular/** @Coly010 @leosvelperez
/docs/shared/packages/angular/** @Coly010 @leosvelperez @isaacplmann @juristr
/packages/angular/** @Coly010 @leosvelperez
/e2e/angular-core/** @Coly010 @leosvelperez
/e2e/angular-extensions/** @Coly010 @leosvelperez
/packages/make-angular-cli-faster/** @leosvelperez @Coly010
/e2e/make-angular-cli-faster/** @leosvelperez @Coly010

## React
/docs/generated/packages/react/** @jaysoo @ndcunningham @mandarini @xiongemi
/docs/generated/packages/next/** @jaysoo @ndcunningham @xiongemi
/docs/shared/packages/react/** @jaysoo @ndcunningham @mandarini @xiongemi
/docs/shared/packages/next/** @jaysoo @ndcunningham @xiongemi
/packages/react/** @jaysoo @ndcunningham @mandarini @xiongemi
/e2e/react/** @jaysoo @mandarini @xiongemi @ndcunningham
/packages/next/** @ndcunningham @jaysoo @xiongemi
/e2e/next/** @ndcunningham @jaysoo @xiongemi
/packages/cra-to-nx/** @jaysoo @xiongemi @mandarini
/e2e/cra-to-nx/** @jaysoo @xiongemi @mandarini @ndcunningham

# React Native
/docs/generated/packages/detox/** @xiongemi @jaysoo
/docs/generated/packages/expo/** @xiongemi @jaysoo
/docs/generated/packages/react-native/** @xiongemi @jaysoo
/packages/detox/** @xiongemi @jaysoo
/e2e/detox/** @xiongemi @jaysoo
/packages/expo/** @xiongemi @jaysoo
/e2e/expo/** @xiongemi @jaysoo
/packages/react-native/** @xiongemi @jaysoo
/e2e/react-native/** @xiongemi @jaysoo

## Node
/docs/generated/packages/node/** @nartc @ndcunningham @jaysoo
/packages/node/** @nartc @ndcunningham @jaysoo
/packages/express/** @nartc @ndcunningham @jaysoo
/packages/nest/** @nartc @ndcunningham @jaysoo
/e2e/node/** @nartc @ndcunningham @jaysoo

## JS
/docs/generated/packages/js/** @nartc @jaysoo @ndcunningham
/docs/generated/packages/web/** @jaysoo @mandarini @ndcunningham
/docs/generated/packages/webpack/** @jaysoo @mandarini @ndcunningham
/docs/generated/packages/esbuild/** @nartc @jaysoo @ndcunningham
/docs/generated/packages/rollup/** @jaysoo @mandarini @ndcunningham
/docs/generated/packages/vite/** @jaysoo @mandarini @ndcunningham
/docs/shared/packages/js/** @nartc @jaysoo @ndcunningham
/docs/shared/packages/web/** @jaysoo @mandarini @ndcunningham
/docs/shared/packages/webpack/** @jaysoo @mandarini @ndcunningham
/docs/shared/packages/esbuild/** @nartc @jaysoo @ndcunningham
/docs/shared/packages/rollup/** @jaysoo @mandarini @ndcunningham
/docs/shared/packages/vite/** @jaysoo @mandarini @ndcunningham
/packages/js/** @nartc @jaysoo @ndcunningham
/e2e/js/** @nartc @jaysoo @ndcunningham
/packages/web/** @jaysoo @mandarini @ndcunningham
/e2e/web/** @jaysoo @mandarini @ndcunningham
/packages/webpack/** @jaysoo @mandarini @ndcunningham
/e2e/webpack/** @jaysoo @mandarini @ndcunningham
/packages/esbuild/** @jaysoo @nartc @ndcunningham
/e2e/esbuild/** @jaysoo @nartc @ndcunningham
/packages/rollup/** @jaysoo @mandarini @ndcunningham
/e2e/rollup/** @jaysoo @mandarini @ndcunningham
/packages/vite/** @jaysoo @mandarini @ndcunningham
/e2e/vite/** @jaysoo @mandarini @ndcunningham

## Tools
/docs/generated/packages/cypress/** @barbados-clemens @FrozenPandaz
/docs/generated/packages/jest/** @barbados-clemens @FrozenPandaz
/packages/cypress/** @barbados-clemens @FrozenPandaz
/e2e/cypress/** @barbados-clemens @FrozenPandaz
/packages/jest/** @barbados-clemens @FrozenPandaz
/e2e/jest/** @barbados-clemens @FrozenPandaz

# Linter
/docs/generated/packages/eslint-plugin-nx/** @meeroslav @FrozenPandaz @JamesHenry
/docs/generated/packages/linter/** @meeroslav @FrozenPandaz @JamesHenry
/packages/eslint-plugin-nx/** @meeroslav @FrozenPandaz @JamesHenry
/packages/linter/** @meeroslav @FrozenPandaz @JamesHenry
/e2e/linter/** @meeroslav @FrozenPandaz @barbados-clemens

# Storybook
/docs/generated/packages/storybook/** @mandarini @jaysoo @Coly010
/docs/shared/packages/storybook/** @mandarini @jaysoo @Coly010
/packages/storybook/** @mandarini @jaysoo @Coly010
/e2e/storybook/** @mandarini @FrozenPandaz @Coly010
/e2e/storybook-angular/** @mandarini @Coly010

## Devkit
/docs/generated/devkit/** @FrozenPandaz @AgentEnder
/docs/generated/packages/devkit/** @FrozenPandaz @AgentEnder
/packages/devkit/** @FrozenPandaz @AgentEnder
/packages/devkit/index.ts @FrozenPandaz @vsavkin
/packages/devkit/src/utils/module-federation @jaysoo @Coly010

# Nx-Plugin
/docs/generated/packages/nx-plugin/** @AgentEnder @FrozenPandaz
/packages/nx-plugin/** @AgentEnder @FrozenPandaz
/e2e/nx-plugin/** @AgentEnder @FrozenPandaz

## Core
/docs/generated/packages/nx/** @vsavkin @FrozenPandaz @AgentEnder
/docs/generated/packages/workspace/** @vsavkin @FrozenPandaz @AgentEnder
/packages/nx/** @vsavkin @FrozenPandaz @AgentEnder
/packages/nx/src/adapter @AgentEnder @leosvelperez
/packages/nx/src/native @vsavkin @FrozenPandaz @Cammisuli
/packages/nx/src/lock-file @meeroslav @FrozenPandaz
/e2e/nx*/** @FrozenPandaz @AgentEnder @vsavkin
/packages/workspace/** @FrozenPandaz @AgentEnder @vsavkin
/e2e/workspace/** @FrozenPandaz @AgentEnder @vsavkin
/e2e/workspace-create/** @FrozenPandaz @vsavkin

/packages/add-nx-to-monorepo/** @vsavkin @FrozenPandaz @AgentEnder
/e2e/add-nx-to-monorepo/** @vsavkin @FrozenPandaz @AgentEnder

# Misc
/e2e/lerna-smoke-tests/** @vsavkin @JamesHenry
/e2e/utils/** @meeroslav @barbados-clemens @vsavkin
/community @AgentEnder @FrozenPandaz
/CONTRIBUTING.md @FrozenPandaz @isaacplmann
/CODE_OF_CONDUCT.md @FrozenPandaz @isaacplmann
/CODEOWNERS @FrozenPandaz @AgentEnder

# Scripts
/scripts/depcheck @FrozenPandaz @vsavkin
/scripts/documentation @bcabanes @isaacplmann
/scripts/local-registry @FrozenPandaz @vsavkin
/scripts/angular-support-upgrades @Coly010 @leosvelperez

# CI
/.circleci/** @meeroslav @vsavkin @FrozenPandaz
/.github/** @meeroslav @vsavkin @FrozenPandaz
/packages/workspace/src/generators/ci-workflow/** @meeroslav @StalkAltan @vsavkin

# Global Files
project.json @FrozenPandaz @vsavkin
jest.config.ts @barbados-clemens @FrozenPandaz
jest.preset.ts @barbados-clemens @FrozenPandaz
